body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 128, 128);
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px gray;
}

form {
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
}
